# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/

# Environment variables & secrets
.env
.env.*
!.env.example
*.pem
*.key

# IDEs & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Databases (Local test/dev DBs)
*.sqlite3
*.db-journal

# Logs
*.log
logs/

# External large datasets
razorpay_chargeback_ai_kaggle_export/
razorpay_dispute_ai_dataset_v1/
*.csv
